body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
    background: #FFD100;
}

h1 {
    margin-bottom: 30px;
}

input {
    font-size: 28px;
    padding: 10px;
    width: 220px;
    text-align: center;
}

/* RESULT CONTAINER */
#result {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* CARD */
.card {
    width: 300px;
    background: white;
    border: 2px solid black;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    transform: scale(0.9);
    animation: popIn 0.25s ease-out forwards;
}

/* animation */
@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* TOP COLOR BAR */
.color {
    height: 12px;
    width: 100%;
}

/* TEXT */
.card h2 {
    margin: 15px 0 5px;
}

.card p {
    margin: 5px 0;
}

/* SEPARATORS */
hr {
    border: none;
    border-top: 1px solid #000;
    margin: 10px 20px;
}

/* NUMBER */
.number {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}
